.container {
  display: flex;
  margin: 44px 64px;
  width: 631px;
  padding: 44px;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background: var(--Inputs, #F7F7F7);
}

.specification {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 100px;
}
